# Ignore virtual environment folder
venv/
.env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

output/*
!output/.gitkeep

videos/*
!videos/.gitkeep

